{% extends 'base.html.twig' %}

{% block title %}All Tasks{% endblock %}

{% block body %}
    <div class="d-flex justify-content-around align-items-center">
        <div class="d-flex justify-content-around align-items-center">
            <p class="mb-0 mr-3 font-italic font-weight-bold">Tasks of the Week</p>
            <a href="{{ path('to_do_list_week') }}">
                <i class="fa fa-angle-left fa-7x" aria-hidden="true"></i>
            </a>
        </div>
        <h2 class="text-center font-weight-bold"> All Tasks </h2>
        <div class="d-flex justify-content-around align-items-center">
            <a href="{{ path('to_do_list_day')}}">
                <i class="fa fa-angle-right fa-7x" aria-hidden="true"></i>
            </a>
            <p class="mb-0 ml-3 font-italic font-weight-bold">Day Tasks</p>
        </div>
    </div>
    {% include 'components/_tasks-form.html.twig' %}
    <div class="d-flex flex-column justify-content-center align-items-center mt6">
        {% for task in all_tasks %}
            <div class="container-list-item">
                <div class="d-flex align-items-center mr-4">
                    <a href="{{ path("task_edit",{'id': task.id, 'page': "all"}) }}">
                        <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-center align-items-center list-item
                    {% if task.isDone == 1 %} done-background {% endif %}">
                    <div class="list-content">{{ task.content }}</div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="{{ path('task_done', {'id': task.id, 'page': 'all'}) }}">
                            <div class="button-done"></div>
                        </a>
                        <div class="button-delete">
                            <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'all'}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                <button class="btn"></button>
                            </form>
                        </div>
                        <a href="{{ path('task_week', {'id': task.id}) }}">
                            <div class="button-week
                            {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
