{% extends 'base.html.twig' %}

{% block title %}All Tasks{% endblock %}

{% block body %}
    <div id="nb-week">{{ nb_week }}</div>
    <div id="nb-done">{{ nb_done }}</div>
<div class="d-flex justify-content-around align-items-center">
    <div class="d-flex justify-content-around align-items-center">
        <p class="mb-0 mr-3 font-italic font-weight-bold">Day Tasks</p>
        <a href="{{ path('to_do_list_day') }}">
            <i class="fa fa-angle-left fa-7x" aria-hidden="true"></i>
        </a>
    </div>
    <h2 class="text-center font-weight-bold"> Tasks of the Week </h2>
    <div class="d-flex justify-content-around align-items-center">
        <a href="{{ path('to_do_list_all')}}">
            <i class="fa fa-angle-right fa-7x" aria-hidden="true"></i>
        </a>
        <p class="mb-0 ml-3 font-italic font-weight-bold">All Tasks</p>
    </div>
</div>
{% include 'components/_tasks-form.html.twig' %}
<div class="bar-container d-flex ">
    <div class="out-bar">
        <div id="bar"></div>
    </div>
    <div class="done-percentage d-flex">
        <div id="count-up"></div>
        <div>%</div>
    </div>
</div>
{% if tasks_urgent %}
    <h2 class="list-day">Urgent</h2>
    <div class="d-flex flex-column justify-content-center align-items-center urgent-items">
        {%  for task in tasks_urgent %}
            <div class="container-list-item">
                <div class="d-flex align-items-center mr-4">
                    <a href="{{ path("task_edit",{'id': task.id, 'page': "week"}) }}">
                        <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="list-item
                {% if task.isDone == 1 %} done-background {% endif %}">
                    <div>
                        <h4 class="font-italic turquoise-blue-color">
                            <span>
                                <i class=" fas fa-sm fa-exclamation red-color"></i>
                            </span>
                            {{ task.day }}
                        </h4>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="list-content">{{ task.content }}</div>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="{{ path('task_done', {'id': task.id, 'page':'week'}) }}">
                                <div class="button-done"></div>
                            </a>
                            <div class="button-delete">
                                <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'week'}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                    <button class="btn"></button>
                                </form>
                            </div>
                            <a href="{{ path('task_week', {'id': task.id}) }}">
                                <div class="button-week
                            {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
<h2 class="list-day">Monday</h2>
<div class="d-flex flex-column justify-content-center align-items-center">
    {%  for task in tasks_monday %}
        <div class="container-list-item">
            <div class="d-flex align-items-center mr-4">
                <a href="{{ path("task_edit",{'id': task.id, 'page': "week"}) }}">
                    <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                </a>
            </div>
            <div class="d-flex justify-content-center align-items-center list-item
            {% if task.isDone == 1 %} done-background {% endif %}">
                <div class="list-content">{{ task.content }}</div>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{{ path('task_done', {'id': task.id, 'page':'week'}) }}">
                        <div class="button-done"></div>
                    </a>
                    <div class="button-delete">
                        <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'week'}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                            <button class="btn"></button>
                        </form>
                    </div>
                    <a href="{{ path('task_week', {'id': task.id}) }}">
                        <div class="button-week
                        {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<h2 class="list-day">Tuesday</h2>
<div class="d-flex flex-column justify-content-center align-items-center">
    {%  for task in tasks_tuesday %}
        <div class="container-list-item">
            <div class="d-flex align-items-center mr-4">
                <a href="{{ path("task_edit",{'id': task.id, 'page': "week"}) }}">
                    <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                </a>
            </div>
            <div class="d-flex justify-content-center align-items-center list-item
            {% if task.isDone == 1 %} done-background {% endif %}">
                <div class="list-content">{{ task.content }}</div>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{{ path('task_done', {'id': task.id, 'page':'week'}) }}">
                        <div class="button-done"></div>
                    </a>
                    <div class="button-delete">
                        <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'week'}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                            <button class="btn"></button>
                        </form>
                    </div>
                    <a href="{{ path('task_week', {'id': task.id}) }}">
                        <div class="button-week
                        {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<h2 class="list-day">Wednesday</h2>
<div class="d-flex flex-column justify-content-center align-items-center">
    {%  for task in tasks_wednesday %}
        <div class="container-list-item">
            <div class="d-flex align-items-center mr-4">
                <a href="{{ path("task_edit",{'id': task.id, 'page': "week"}) }}">
                    <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                </a>
            </div>
            <div class="d-flex justify-content-center align-items-center list-item
            {% if task.isDone == 1 %} done-background {% endif %}">
                <div class="list-content">{{ task.content }}</div>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{{ path('task_done', {'id': task.id, 'page':'week'}) }}">
                        <div class="button-done"></div>
                    </a>
                    <div class="button-delete">
                        <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'week'}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                            <button class="btn"></button>
                        </form>
                    </div>
                    <a href="{{ path('task_week', {'id': task.id}) }}">
                        <div class="button-week
                        {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<h2 class="list-day">Thursday</h2>
<div class="d-flex flex-column justify-content-center align-items-center">
    {%  for task in tasks_thursday %}
        <div class="container-list-item">
            <div class="d-flex align-items-center mr-4">
                <a href="{{ path("task_edit",{'id': task.id, 'page': "week"}) }}">
                    <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                </a>
            </div>
            <div class="d-flex justify-content-center align-items-center list-item
            {% if task.isDone == 1 %} done-background {% endif %}">
                <div class="list-content">{{ task.content }}</div>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{{ path('task_done', {'id': task.id, 'page':'week'}) }}">
                        <div class="button-done"></div>
                    </a>
                    <div class="button-delete">
                        <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'week'}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                            <button class="btn"></button>
                        </form>
                    </div>
                    <a href="{{ path('task_week', {'id': task.id}) }}">
                        <div class="button-week
                        {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    <h2 class="list-day">Friday</h2>
    <div class="d-flex flex-column justify-content-center align-items-center">
        {%  for task in tasks_friday %}
            <div class="container-list-item">
                <div class="d-flex align-items-center mr-4">
                    <a href="{{ path("task_edit",{'id': task.id, 'page': "week"}) }}">
                        <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-center align-items-center list-item
                {% if task.isDone == 1 %} done-background {% endif %}">
                    <div class="list-content">{{ task.content }}</div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="{{ path('task_done', {'id': task.id, 'page':'week'}) }}">
                            <div class="button-done"></div>
                        </a>
                        <div class="button-delete">
                            <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'week'}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                <button class="btn"></button>
                            </form>
                        </div>
                        <a href="{{ path('task_week', {'id': task.id}) }}">
                            <div class="button-week
                        {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="list-day">Saturday</h2>
    <div class="d-flex flex-column justify-content-center align-items-center">
        {%  for task in tasks_saturday %}
            <div class="container-list-item">
                <div class="d-flex align-items-center mr-4">
                    <a href="{{ path("task_edit",{'id': task.id, 'page': "week"}) }}">
                        <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-center align-items-center list-item
                {% if task.isDone == 1 %} done-background {% endif %}">
                    <div class="list-content">{{ task.content }}</div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="{{ path('task_done', {'id': task.id, 'page':'week'}) }}">
                            <div class="button-done"></div>
                        </a>
                        <div class="button-delete">
                            <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'week'}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                <button class="btn"></button>
                            </form>
                        </div>
                        <a href="{{ path('task_week', {'id': task.id}) }}">
                            <div class="button-week
                        {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="list-day">Sunday</h2>
    <div class="d-flex flex-column justify-content-center align-items-center">
        {%  for task in tasks_sunday %}
            <div class="container-list-item">
                <div class="d-flex align-items-center mr-4">
                    <a href="{{ path("task_edit",{'id': task.id, 'page': "week"}) }}">
                        <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-center align-items-center list-item
                {% if task.isDone == 1 %} done-background {% endif %}">
                    <div class="list-content">{{ task.content }}</div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="{{ path('task_done', {'id': task.id, 'page':'week'}) }}">
                            <div class="button-done"></div>
                        </a>
                        <div class="button-delete">
                            <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'week'}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                <button class="btn"></button>
                            </form>
                        </div>
                        <a href="{{ path('task_week', {'id': task.id}) }}">
                            <div class="button-week
                        {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2 class="list-day">Not defined</h2>
    <div class="d-flex flex-column justify-content-center align-items-center">
        {%  for task in tasks_not_defined %}
            <div class="container-list-item">
                <div class="d-flex align-items-center mr-4">
                    <a href="{{ path("task_edit",{'id': task.id, 'page': "week"}) }}">
                        <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-center align-items-center list-item
                {% if task.isDone == 1 %} done-background {% endif %}">
                    <div class="list-content">{{ task.content }}</div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="{{ path('task_done', {'id': task.id, 'page':'week'}) }}">
                            <div class="button-done"></div>
                        </a>
                        <div class="button-delete">
                            <form method="post" action="{{ path('task_delete', {'id': task.id, 'page' : 'week'}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                <button class="btn"></button>
                            </form>
                        </div>
                        <a href="{{ path('task_week', {'id': task.id}) }}">
                            <div class="button-week
                        {% if task.isOfTheWeek == 1 %} week-button {% endif %}"></div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}